
// @font-face {
//     font-family: opensans-reg;
//     src: local('opensans-reg'), url(sources/fonts/Office_Sans-Regular.woff) 
//          format('woff'),
//          local('opensans-reg'), url(sources/fonts/Office_Sans-Regular.woff2) format('woff2');

//     font-weight: normal;
//     font-style: normal;

// }
// @font-face {
//     font-family: opensans-light;
//     src: local('opensans-light'), url(sources/fonts/Office_Sans-Light.woff) 
//          format('woff'),
//          local('opensans-light'), url(sources/fonts/Office_Sans-Light.woff2) format('woff2');
//     font-style: normal;

// }

@font-face {
    font-family: 'authentic_sans60';
    src: url('sources/fonts/authenticsans-60-webfont.woff2') format('woff2'),
         url('sources/fonts/authenticsans-60-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'authentic_sans90';
    src: url('sources/fonts/authenticsans-90-webfont.woff2') format('woff2'),
         url('sources/fonts/authenticsans-90-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}

html {
    scroll-behavior: smooth;
    background: #FFFFFF;
}
body {
    margin: 0 !important;
    height: 100%;
  margin: 0;
  overflow-x: hidden; 
  scroll-behavior: smooth; 
}
img {
  max-width: 100%;
  height: auto;
}
figure {
    margin: 0;
}
.flex {
    display: flex;
    flex-flow:wrap;
    justify-content: space-between;
}
h3, h4, h5, em,h1, h2 {
   
    font-family: authentic_sans60, sans-serif;
    font-weight: 100;
}
p, span, button, a,b {
    font-family: authentic_sans90, sans-serif;
}


button {
    background: transparent;
    border: none;
    padding: 0;
    font-size: .8vw;
    @media screen and (max-width: 1200px) {
        font-size: 14.5px;
    }

}

h1 {
    font-size: 30px;
}
a {
    color: #000000;
    text-decoration: none;
    &:active{
        font-weight: 700;
    }
    font-size: .8vw;
    @media screen and (max-width: 1200px) {
        font-size: 14.5px;
    }
}
button {
    color: #000000;
}
main {
    max-width: 2000px;
    margin: 0 auto;
    @extend .flex;
    position: relative;
}
body {
    margin: 24px;
    font-size: .95vw;
    @media screen and (max-width: 1200px) {
        font-size: 14.5px;
    }
    
    
}

.contain {
    width: calc(100% - 80px);
    padding: 15px 40px;
}
.container-scroll {
    // height: 100vh;
    // display: flex;
    // flex-direction: column;
    scroll-snap-type: y mandatory; /* Enable scroll snapping */
  }
//   .keen-slider {
//     height: 100lvh;
//   }


//hero image 

.heroSection {
    position: relative;
    width: 100%;
    height: 100lvh;
    overflow: hidden;

    figure {
        position: absolute;
        img {
            object-fit: cover;
            height: 100lvh;
        }
      
        
    }
    h1 {
        font-size: 6vw;
        position: absolute;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        align-content: center;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
}
// heading {
    .headingContainer {
        @extend .flex;
        @extend .contain;
        justify-content: space-between;
        height: 30px;
        background: white;
        border-bottom: 1px solid black;
        transition: all .5s ease;
        z-index: 2;
        position: sticky;
        top: 0;
        opacity: 1;
        .logoLink{

        width: 40%;
        max-width: 330px;

        }
        .menuHeader {
            @extend .flex;
            align-items: center;
            text-transform: uppercase;
            max-width: 330px;
            justify-content: flex-end;
            a, button {
                min-width: 100px;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
            }
            .officeLink {
                text-align: center;
            }
    
        }
    }
    .inactive {
        display: none;

    }
    .active {
        display: block;
    }


    .menuItems {
        position: absolute;
        height: calc(100lvh - 64px);
        background: white;
        top: 61px;
        // transition: transform ease .5s;
        // display: none;
        width: 0;
        right: 0%;
        overflow: hidden;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                border-bottom: 1px solid black;
                width: calc(100% - 20px);
                padding: 8px 10px;
                &:hover {
                    background: black;
                    a {
                        color: white
                    }
                   ;
                    border-color: white;
                }
                a {
                    display: flex;
                    
                    
                    .date {
                        width: 120px;
    
                    }
                    .client {
                        width: calc(100% - 240px);
                    }
                    .cat {
                        width: 120px;
                        text-transform: uppercase;
                    }
    
                }
            }
           
            
           
        }
    }
    .menuButtonActive {
        // transition: all 2s ease;
        animation-duration: 1s;
        animation-name: slideSide;
        width: calc(50% - 1px);
        border-left: 1px solid black;
    }
    @keyframes slideSide {
        from {
            width: 0;
          }
        to {
            width: calc(50% - 1px);
            right: 0;
        }
      }
    .headingfixed {
        opacity: 1;
        animation-duration: .3s;
        animation-name: slidein;
       
    }
    .officeMenu {
        position: fixed;
    }

    @keyframes slidein {
        from {
          top: -50px;
        }
      
        to {
          top: 0;
        }
      }
    
    
//Categories 
.categoriesContainer {
    width: 100%;
    height: 100lvh;
    background: white;

    .categoryEach {
       height: calc(33.33lvh - 20px);
       border-bottom: 1px solid black;
       width: 100%;
       @extend .flex;
       justify-content: space-between;
       cursor: pointer;
       .categoryName {
        width: calc(50% - 41px);
        padding-left: 40px;
        border-right: 1px solid black;
        height: 100%;
        h2 {
            font-size: 8vw;
            letter-spacing: -.1vw;
            // font-weight: 100;
            margin: 0;
            transform: translate(0%, 25%);
        }
       }
       .categoryDescription {
        width: calc(50% - 1em);
        margin-left: 1em;
       }
       &:hover {
        background: black;
        border-color: white;
        color: white;
        .categoryName {
            border-color: white;
        }
       }
    }
    .categoryEach:nth-child(1){
        margin-top: 60px;
        border-top: 1px solid black;
    }
}
// projects home 
.singleCatListing {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        a {
            display: block;
            width: 100%;
            height: 100lvh;
            position: relative;
            .singleProjDetails {
                @extend .contain;
                position: absolute;
                background: white;
                padding: 0 40px;
                bottom: 0;
                min-height: 30px;
                @extend .flex;
                border-top: 1px solid black;
                align-items: center;
                border-bottom: 1px solid black;
                span {
                    display: inline;
                    padding: 20px 0;
                }
                .category {
                    text-transform: uppercase;
                }
            }
           
            }
        
    }
}
.has_mobile {
    .homeImgmmobil {
        display: none;
    }
    .hero_Video, .homeImg {
        display: block;
    }
}
.hero_img {
    position: relative;
        img {
            // position: absolute;
            object-fit: cover;
            max-width: 100%;
            height: 100lvh;
        }
    }
    .hero_Video {
        video {
            width: 100%;
            height: 100lvh;
            object-fit: cover;
        }
    }
    .section {
        height: 100lvh;
        width: 100%;
        scroll-snap-align: start; /* Each section aligns at the start */
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        transition: scroll-snap-align 1s;

      }
      .officeSection {
        height: 1vh;
        width: 100%;
      }
// Project page 
.projectHeadingContainer {
    // position: relative;
    // top: -64px;
}

.projectHeading {
    border-bottom: 1px solid black;
    @extend .contain;
    @extend .flex;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 30px;

    background: white;
    transition: all .3s ease;;
    h1 {
        margin: 0;
    }
    button {
        text-transform: uppercase;
    }
}
.projectdescContainer {
    position: relative;
    width: 100%;
    height: 100lvh;
}
.projectDescription {
    width: calc(50% - 40px);
    margin: 90px 0 40px 40px;

    top: 0;
    p, a {
        font-size: 1.8vw;
        line-height: 1.4;
        font-weight: bold;
        font-family: authentic_sans60, sans-serif;

    }
   
}
.creditContainer {
    @extend .contain;
    margin: 0 auto;
    .credit {
        margin-bottom: 10px;
        span {
            display: block;
        }
    }
}
.images {
    @extend .contain;
    // margin-bottom: 80px;
    figure,.projectVideo {
        margin: 0 auto;
        
        img {
            max-width: 100%;
            max-height: 8lvh;
            width: auto;
        }
    }
    .projectVideo {
        video {
            max-width: 100%;
            max-height: 80lvh;
        }
    }
    .videotextContainer {
        max-width: 80%;
        margin: 0 auto;
        .embedVideoContent {
        font-size: 18px;
        
        }
    }
   
}


.officePage {
    .pageMain {
        animation: slideup .5s ease-in-out;
        position: absolute;
        @extend .flex;
        .singlePageContent {
            width: calc(50% - 40px);
            margin: 90px 0 40px 40px;
            p {
                width: calc(100% - 40px);
                padding-right: 40px;
                margin-top: 0;
                font-size: 1.8vw;
                font-weight: 200;
                // font-family: authentic_sans60, sans-serif;
                line-height: 1.4;
                margin-bottom: 20px;
            }
        }
        .pageSideOffice {
            width: calc(50% - 40px);
            margin: 90px 40px 40px 0;
            .services,.contactOffice {
                @extend .flex;
                margin-bottom: 40px;
                h3 {
                    width: calc(50% - 40px);
                    padding-right: 40px;
                    text-align: right;
                    font-family: authentic_sans90, sans-serif;
                    line-height: 1.5;
                    margin: 0;
                    font-weight: 300;
                    font-size: .95vw;
                    @media screen and (max-width: 1200px) {
                        font-size: 14.5px;
                    }
                }
                p, .contactInnerContainer{
                    width: 50%;
                    margin-top: 0;
                    line-height: 1.5;
                    font-size: .95vw;
                    @media screen and (max-width: 1200px) {
                        font-size: 14.5px;
                    }


                }
            }
        }
    }
}

@keyframes slideup {
    from {
      top: 100lvh;
    }
  
    to {
      top: 0;
    }
  }
// password protected
.passwordProtected {
    text-align: center;
    margin-top: 100px;
    h2 {
        text-transform: uppercase;
    }
    button {
        text-transform: uppercase;
        border: 1px solid black;
        padding: 5px 10px;
    }
    input {
        border: 1px solid black;
        padding: 5px 0;
        margin-right: 5px;
    }
}
.projectPage {
    width: 100%;
}
.footer {
    width: 100%;
    height: 30lvh;
  }
@media (max-width: 1000px){
    .singleCatListing li a {
        .singleProjDetails {
            padding:0;
            width: 100%;
            span {
                padding-top: 15px;
            }
            span:nth-child(1) {
                width: 100%;
                padding: 20px 20px 15px;
                border-bottom: 1px solid black;
                // margin-bottom: 20px;
            }
            .clientName {
                padding-left: 20px;
                
            }
            .category {
                padding-right: 20px;
            }
    
        }
    
    }
    .projectDescription {
        p, a {
            font-size: 18px;
            line-height: initial;
        }
    
    }

}

@media(max-width: 630px){

.contain {
    width: calc(100% - 40px);
    padding: 15px 20px;
}
.headingContainer {
    height: 80px;
    // width: calc(100% - 60px);
    .logoLink {
        width: 100%;
        max-width: inherit;
    }
    .menuHeader {
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
        justify-content: space-between;
        a, button {
            min-width: 0;
        }
        button {
            text-align: left;
        }


        .worksLink {
            text-align: left;
        }
        .officeLink {
            text-align: right;
            
        }

    }

}

.menuButtonActive {
    // transition: all 2s ease;
    animation-duration: 1s;
    animation-name: slideSide;
    border-left: none;
    width: 100%;
}
@keyframes slideSide {
    from {
        width: 0;
      }
    to {
        width: 100%;
        right: 0;
    }
  }
    
.projectHeading {
    height: 54px;
    button {
       display: none;
    }
}
.menuHeader {
    .close-project {
        display: none;
    }
}
.menuItems {
    // width: 100%;
    border-left: 0;
    top: 111px;
    height: calc(100lvh - 86px);
    ul li a {
        display: block;
        padding: 15px 10px;
        min-height: 90px;
        span {
            display: block;
            width: 100%;
            margin-left: 10px;
        
        }
    }

}
.heroSection {
    h1 {
        font-size: 9vw;
        color: #FFFFFF;

    }
}
//categories 
.categoriesContainer {
    .categoryEach {
        height: calc(33.3lvh - 29px);
        .categoryName {
            width: 100%;
            border-right: 0;
            h2 {
                font-size: 80px;
            }
        }
        .categoryDescription {
            display: none;
        }
    }
    .categoryEach:nth-child(1) {
        margin-top: 84px;
    }
}
.singleCatListing li a {
    .singleProjDetails {
        padding: 0;
        // padding-bottom: 20px;
        width: 100%;
    }
}

//single project 
.projectDescription {



    width: calc(100% - 40px);
    padding: 20px;
    margin: 0;
    margin-top: 166px;

}

.has_mobile {
    .hero_Video, .homeImg {
        display: none;
    }
    .homeImgmmobil {
        display: block;
    }
}



.pagination {
    position: sticky;
    opacity: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0x;
    border-top: 1px solid black;
    background: white;
    text-transform: uppercase;
    display: flex;
    flex-flow: wrap;
.close-project {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid black;

}
    a {
        width: calc(50% - 42px);
        display: block;
        padding: 10px 20px;
    }
    a:nth-child(3) {
        border-left: 1px solid black;
        text-align: right;
    }
    
}
.officePage {
    // .officeMenu {
    //     position: fixed;
    // }
    .pageMain {
        // animation: none;
        position: relative;
        .singlePageContent {
            width: 100%;
            margin: 0;
            margin-top:110px;
            padding: 20px;
            p {
                font-size: 1.7vw;
                width: 100%;
                padding-right: 0;
                @media screen and (max-width: 640px) {
                    font-size: 18px;
                }

            }
        }
        .pageSideOffice {
            width: 100%;
            margin: 0;
            padding: 20px;
            .contactOffice .contactInnerContainer {
                width: 100%;
                margin-bottom: 10px;
            }
           .services,.contactOffice {
            display: block;
            h3,p, a {
                font-size: 14.5px;

                width: 90%;
                text-align: left;

            }
            h3 {
                margin-bottom: 5px;
            }

           }
        }
    }
}

}
.fixedpagenation {
    opacity: 1;
    animation-duration: 0.8s;
    animation-name: slideeh;
}
@keyframes slideeh {
    from {
      bottom: -50px;
    }
  
    to {
      bottom: 0;
    }
  }
.singleLink {
    a {
        width: calc(100% - 40px);
        text-align: center;
    }
}
.images {
    figure,.projectVideo {

    }
}
@media(max-width: 500px){
    .headingContainer {
        height: 54px;
    }
    .officePage .pageMain .singlePageContent {
        // margin-top: 90px;
    }
    .menuItems {
        top: 85px;
    }
}


