
@font-face {
    font-family: opensans-reg;
    src: local('opensans-reg'), url(sources/fonts/Office_Sans-Regular.woff) 
         format('woff'),
         local('opensans-reg'), url(sources/fonts/Office_Sans-Regular.woff2) format('woff2');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: opensans-bold;
    src: local('opensans-bold'), url(sources/fonts/Office_Sans-Bold.woff) 
         format('woff'),
         local('opensans-bold'), url(sources/fonts/Office_Sans-Bold.woff2) format('woff2');

    font-weight: 700;
    font-style: normal;

}


@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}

html {
    scroll-behavior: smooth;
    background: #FFFFFF;
}
body {
    margin: 0 !important;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
    margin: 0;
}
.flex {
    display: flex;
    flex-flow:wrap;
    justify-content: space-between;
}
h1, h2, h3, h4, h5, p, span, button, a {
   
    font-family: opensans-reg, sans-serif;
    font-weight: 300;
}
b, em {
    font-family: opensans-bold, sans-serif;
}
button {
    background: transparent;
    border: none;
    padding: 0;
}

h1 {
    font-size: 30px;
}
a {
    color: #000000;
    text-decoration: none;
    &:active{
        font-weight: 700;
    }
}
button {
    color: #000000;
}
main {
    max-width: 2000px;
    margin: 0 auto;
    @extend .flex;
    position: relative;
}
body {
    margin: 24px;
    font-size: 14.5px;
    
    
}
p, a {
}


//hero image 

.heroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    img {
        position: absolute;
        object-fit: cover;
        height: 100vh;
        
    }
    h1 {
        font-size: 8vw;
        position: absolute;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        align-content: center;
        height: 100vh;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
}
// heading {
    .headingContainer {
        @extend .flex;
        justify-content: space-between;
        width: calc(100% - 80px);
        padding: 15px 40px;
        background: white;
        border-bottom: 1px solid black;
        z-index: 2;
        .logoLink{

        width: 40%;
        max-width: 330px;

        }
        .menuHeader {
            @extend .flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            a, button {
                min-width: 100px;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
            }
    
        }
    }
    .inactive {
        display: none;

    }
    .active {
        display: block;
    }


    .menuItems {
        position: absolute;
        width: calc(50% - 1px);
        height: calc(100vh - 64px);
        background: white;
        top: 63.5px;
        border-left: 1px solid black;
        transition: transform ease .3s;
        transform: translateX(100%);
        display: none;
        right: 0;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                border-bottom: 1px solid black;
                width: calc(100% - 20px);
                padding: 8px 10px;
                &:hover {
                    background: black;
                    a {
                        color: white
                    }
                   ;
                    border-color: white;
                }
                a {
                    display: flex;
                    
                    
                    .date {
                        width: 120px;
    
                    }
                    .client {
                        width: calc(100% - 240px);
                    }
                    .cat {
                        width: 120px;
                        text-transform: uppercase;
                    }
    
                }
            }
           
            
           
        }
    }
    .menuButtonActive {
        transform: translateX(0);
        display: block;
        transition: all 1s ease;
    }
    .headingfixed {
        position: sticky;
        top: 0;
        
        transition: all 1s ease;
        animation-duration: 1s;
         animation-name: slidein;
       
    }

    @keyframes slidein {
        from {
          top: -50px;
        }
      
        to {
          top: 0;
        }
      }
    
    
//Categories 
.categoriesContainer {
    width: 100%;
    height: calc(100vh - 64px);
    margin-top: 64px;

    .categoryEach {
       height: calc(33.33vh - 20px);
       border-bottom: 1px solid black;
       width: 100%;
       @extend .flex;
       justify-content: space-between;
       cursor: pointer;
       .categoryName {
        width: calc(50% - 41px);
        padding-left: 40px;
        border-right: 1px solid black;
        height: 100%;
        h2 {
            font-size: 8vw;
            letter-spacing: -.1vw;
            font-weight: 100;
            margin: 0;
            transform: translate(0%, 50%);
        }
       }
       .categoryDescription {
        width: calc(50% - 1em);
        margin-left: 1em;
       }
       &:hover {
        background: black;
        border-color: white;
        color: white;
        .categoryName {
            border-color: white;
        }
       }
    }
}
// projects home 
.singleCatListing {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        a {
            display: block;
            width: 100%;
            height: 100vh;
            position: relative;
            .singleProjDetails {
                position: absolute;
                width: 100%;
                background: white;
                bottom: 0;
                width: calc(100% - 80px);
                min-height: 30px;
                padding: 20px 40px;
                @extend .flex;
                border-top: 1px solid black;
                align-items: center;
                border-bottom: 1px solid black;
                span {
                    display: inline;
                }
                .category {
                    text-transform: uppercase;
                }
            }
           
            }
        
    }
}
.has_mobile {
    .homeImgmmobil {
        display: none;
    }
}
.hero_img {
    position: relative;
        img {
            // position: absolute;
            object-fit: cover;
            max-width: 100%;
            height: 100vh;
        }
    }
    .hero_Video {
        video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

// Project page 
.projectHeadingContainer {
    position: relative;
    top: -64px;
}

.projectHeading {
    border-bottom: 1px solid black;
    width: calc(100% - 80px);
    padding: 15px 40px;
    @extend .flex;
    position: sticky;
    z-index: 3;
    top: 0;

    background: white;
    transition: all .3s ease;;
    h1 {
        margin: 0;
    }
    button {
        text-transform: uppercase;
    }
}
.projectDescription {
    width: calc(50% - 40px);
    margin: 90px 0 40px 40px;
    font-size: 1.8vw;
}
.creditContainer {
    width: calc(100% - 80px);
    margin: 0 auto;
    padding: 15px 40px;
    .credit {
        margin-bottom: 10px;
        span {
            display: block;
        }
    }
}
.images {
    width: calc(100% - 80px);
    padding: 15px 40px;
    figure,.projectVideo {
        margin: 0 auto;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .projectVideo {
        video {
            max-width: 100%;
        }
    }
    .videotextContainer {
        max-width: 80%;
        margin: 0 auto;
        font-family: opensans-reg, sans-serif;
        .embedVideoContent {
            position: relative;
          padding-bottom: 54.25%;
          height: 0;
          width: 100%;
          margin: 0 auto;
          iframe {
            position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          }
        
        }
    }
   
}

//office page 
.officePage {
    .pageMain {
        animation: slideup 1s ease-in-out;
        position: absolute;
        @extend .flex;
        .singlePageContent {
            width: calc(50% - 40px);
            margin: 90px 0 40px 40px;
            p {
                width: calc(100% - 40px);
                padding-right: 40px;
                margin-top: 0;
                font-size: 1.8vw;
                line-height: 1.4;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }
        .pageSideOffice {
            width: calc(50% - 40px);
            margin: 90px 40px 40px 0;
            .services,.contactOffice {
                @extend .flex;
                h3 {
                    width: calc(50% - 40px);
                    padding-right: 40px;
                    text-align: right;
                    font-size: .95vw;
                    line-height: 1.5;
                    margin: 0;
                    font-weight: 300;
                }
                p, .contactInnerContainer{
                    width: 50%;
                    margin-top: 0;
                    line-height: 1.5;
                    font-size: .95vw;

                }
            }
        }
    }
}

@keyframes slideup {
    from {
      top: 100vh;
    }
  
    to {
      top: 0;
    }
  }
@media(max-width: 400px){
    

}


